@font-face {
  font-family: "Google Sans";
  src: url(../../assets/fonts/ProductSans-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Google Sans";
  src: url(../../assets/fonts/ProductSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Berlin Sans";
  src: url(../../assets/fonts/BRLNSB.TTF);
  font-weight: 700;
}

@font-face {
  font-family: "Berlin Sans";
  src: url(../../assets/fonts/BRLNSR.TTF);
  font-weight: 400;
}
