@import "./other/fonts";
@import "./other/typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Berlin Sans";
  font-weight: 400;
}

section {
  display: flex;
}

.aside-header {
  background-color: #ecedef;
  width: 20vw;
  height: 100vh;
  padding: 25px 45px;
  .logo {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    .header-menu-item {
      width: 42%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      transition: all 0.2s ease;
      &:hover {
        transition: all 0.2s ease;
        .header-menu-icon {
          background-color: #51459e;
        }
        .aside-p {
          color: #51459e;
        }
      }
      .header-menu-icon {
        width: 50px;
        height: 50px;
        background-color: #eceff7;
        border-radius: 12px;
        padding: 12.5px;
      }
    }
  }
  .aside-title {
    border-radius: 20px;
    background-color: #cfc8ff;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    img {
      width: 100%;
    }
    button {
      width: 100%;
      padding: 16px;
      border-radius: 20px;
      border: none;
      background-color: white;
      color: #51459e;
      font-family: "Google Sans";
      font-weight: 500;
      letter-spacing: 0.5px;
    }
  }
}

.main {
  width: 50vw;
  height: 100vh;
  padding: 30px 60px;
  .search-container {
    position: relative;
    margin-bottom: 100px;
    input {
      padding: 13px;
      border-radius: 20px;
      width: 100%;
      padding-left: 55px;
      background-color: #f7f8fa;
      border: none;
    }
    .search-icon {
      position: absolute;
      top: 12px;
      left: 20px;
    }
  }
  .main-cards {
    width: 100%;
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .main-card {
      width: 30%;
      height: 250px;
      padding: 24px 15px;
      background-color: #fdedd5;
      border-radius: 20px;
      .main-card-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
      }
    }
  }
  .main-info-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .mit {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.payments {
  background-color: #ecedef;
  width: 30vw;
  height: 100vh;
  padding: 30px 60px;
  .payments-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    button {
      width: 50px;
      height: 50px;
      border: none;
      border-radius: 16px;
      box-shadow: inset 3px 3px 3px -1px rgba(34, 58, 120, 0.05),
        inset -6px -6px 3px -4px rgba(232, 235, 243, 0.77),
        0 20px 13px 0 rgba(41, 72, 152, 0.03),
        0 39px 25px 0 rgba(41, 72, 152, 0.03),
        0 65px 47px 0 rgba(41, 72, 152, 0.04),
        0 100px 80px 0 rgba(41, 72, 152, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.25),
        0 4px 4px 0 rgba(0, 0, 0, 0.03);
    }
  }
  .clear {
    padding: 13px 34px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    color: black;
    font-family: "Google Sans";
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  .payments-card {
    width: 100%;
    height: 135px;
    background-color: #fff;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 30px;
    .payments-card-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
    }
  }
  .wallet-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
