@font-face {
  font-family: "Google Sans";
  src: url(../../assets/fonts/ProductSans-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Google Sans";
  src: url(../../assets/fonts/ProductSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Berlin Sans";
  src: url(../../assets/fonts/BRLNSB.TTF);
  font-weight: 700;
}
@font-face {
  font-family: "Berlin Sans";
  src: url(../../assets/fonts/BRLNSR.TTF);
  font-weight: 400;
}
@font-face {
  font-family: "Google Sans";
  src: url(../../assets/fonts/ProductSans-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Google Sans";
  src: url(../../assets/fonts/ProductSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Berlin Sans";
  src: url(../../assets/fonts/BRLNSB.TTF);
  font-weight: 700;
}
@font-face {
  font-family: "Berlin Sans";
  src: url(../../assets/fonts/BRLNSR.TTF);
  font-weight: 400;
}
h2 {
  font-size: 32px;
  font-weight: 500;
  color: black;
}

.aside-p {
  font-family: "Google Sans";
  font-weight: 500;
  color: #7987a5;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Berlin Sans";
  font-weight: 400;
}

section {
  display: flex;
}

.aside-header {
  background-color: #ecedef;
  width: 20vw;
  height: 100vh;
  padding: 25px 45px;
}
.aside-header .logo {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
.aside-header .header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
.aside-header .header-menu .header-menu-item {
  width: 42%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: all 0.2s ease;
}
.aside-header .header-menu .header-menu-item:hover {
  transition: all 0.2s ease;
}
.aside-header .header-menu .header-menu-item:hover .header-menu-icon {
  background-color: #51459e;
}
.aside-header .header-menu .header-menu-item:hover .aside-p {
  color: #51459e;
}
.aside-header .header-menu .header-menu-item .header-menu-icon {
  width: 50px;
  height: 50px;
  background-color: #eceff7;
  border-radius: 12px;
  padding: 12.5px;
}
.aside-header .aside-title {
  border-radius: 20px;
  background-color: #cfc8ff;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
.aside-header .aside-title img {
  width: 100%;
}
.aside-header .aside-title button {
  width: 100%;
  padding: 16px;
  border-radius: 20px;
  border: none;
  background-color: white;
  color: #51459e;
  font-family: "Google Sans";
  font-weight: 500;
  letter-spacing: 0.5px;
}

.main {
  width: 50vw;
  height: 100vh;
  padding: 30px 60px;
}
.main .search-container {
  position: relative;
  margin-bottom: 100px;
}
.main .search-container input {
  padding: 13px;
  border-radius: 20px;
  width: 100%;
  padding-left: 55px;
  background-color: #f7f8fa;
  border: none;
}
.main .search-container .search-icon {
  position: absolute;
  top: 12px;
  left: 20px;
}
.main .main-cards {
  width: 100%;
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.main .main-cards .main-card {
  width: 30%;
  height: 250px;
  padding: 24px 15px;
  background-color: #fdedd5;
  border-radius: 20px;
}
.main .main-cards .main-card .main-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.main .main-info-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.main .mit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aside-info {
  background-color: #ecedef;
  width: 30vw;
  height: 100vh;
}/*# sourceMappingURL=main.css.map */